<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <form class="form-inline">
                    <label class="my-1 mr-2 ml-5" for="office">City:</label>
                    <select class="form-control"
                            name="office"
                            id="office"
                            v-model="searchParams.officeId">
                        <option disabled value="">Select...</option>
                        <option :value="office.id" v-for="office in offices">
                            {{ office.city }}
                        </option>
                    </select>

                    <input class="form-check-input ml-5"
                           type="radio"
                           name="isSick"
                           id="healthy"
                           value="0"
                           v-model="searchParams.isSick">
                    <label class="form-check-label my-1 mr-2" for="healthy">
                        Healthy
                    </label>

                    <input class="form-check-input"
                           type="radio"
                           name="isSick"
                           id="sick"
                           value="1"
                           v-model="searchParams.isSick">
                    <label class="form-check-label my-1 mr-2" for="sick">
                        Sick
                    </label>

                    <label class="my-1 mr-2 ml-5" for="status">Status:</label>
                    <select class="form-control" name="status" id="status" v-model="searchParams.status">
                        <option disabled value="">Select...</option>
                        <option :value="status.type" v-for="status in statuses">
                            {{ status.type }}
                        </option>
                    </select>

                    <button type="button"
                            class="btn btn-lg btn-outline-info ml-5"
                            @click.prevent="filterRequests">
                        Filter
                    </button>

                    <button type="button"
                            class="btn btn-lg btn-outline-warning ml-5"
                            @click.prevent="resetSearchParams">
                        Reset
                    </button>
                </form>
            </div>
        </div>

        <div class="col-12 mt-3">
            <transition name="fade">
                <table class="table table-striped">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">Id</th>
                        <th scope="col">User Email</th>
                        <th scope="col">Health</th>
                        <th scope="col">Office Location</th>
                        <th scope="col">Time From</th>
                        <th scope="col">Time To</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(request, index) in requests">
                        <th scope="row">{{ request.id }}</th>
                        <td>{{ request.userEmail }}</td>
                        <td>{{ request.isSick ? 'Sick' : 'Healthy' }}</td>
                        <td class="text-center">{{ request.officeLocation }}</td>
                        <td class="text-center">{{ formatTime(request.timeFrom) }}</td>
                        <td class="text-center">{{ formatTime(request.timeTo) }}</td>
                        <td class="text-center">{{ formatTime(request.createdAt) }}</td>
                        <td class="text-center" :class="addStatusColor(request.status)">{{ request.status }}</td>
                        <td>
                            <i class="fas fa-thumbs-up fa-lg" aria-hidden="true"
                               @click="approve(request.id, index)"></i>
                            &nbsp;
                            <i class="fas fa-thumbs-down fa-lg" aria-hidden="true"
                               @click="reject(request.id, index)"></i>
                        </td>
                    </tr>
                    <tr v-if="this.requests.length === 0">
                        <td colspan="9" class="text-center">No results for given parameters.</td>
                    </tr>
                    </tbody>
                </table>
            </transition>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                requests: {
                    id: '',
                    userEmail: '',
                    isSick: '',
                    officeLocation: '',
                    timeFrom: '',
                    timeTo: '',
                    createdAt: '',
                    status: ''
                },
                offices: [],
                statuses: [
                    {
                        type: 'PENDING'
                    },
                    {
                        type: 'APPROVED'
                    },
                    {
                        type: 'REJECTED'
                    },
                    {
                        type: 'CANCELLED'
                    },
                ],
                searchParams: {
                    officeId: '',
                    isSick: '',
                    status: ''
                },
            }
        },
        methods: {
            /**
             * Get list of all offices' locations.
             */
            getOfficesList() {
                axios.get('/get-offices-list')
                    .then(result => {
                        this.offices = result.data.offices;
                    });
            },
            /**
             * Get a list of requests for administration.
             */
            getRequests() {
                axios.get('/admin/get-requests')
                    .then(result => {
                        this.requests = result.data.requests;
                    })
            },
            /**
             * Update a list of requests according to filtered search params.
             */
            filterRequests() {
                axios.post('/admin/filter-requests', { searchParams: this.searchParams})
                    .then(result => {
                        this.requests = result.data.requests;
                    })
            },
            /**
             * Reset search filters and get a fresh list of requests.
             */
            resetSearchParams() {
                this.searchParams.officeId = '';
                this.searchParams.isSick = '';
                this.searchParams.status = '';

                this.getRequests();
            },
            /**
             * Create humanreadable timestamp.
             *
             * @param timestamp
             * @returns {*}
             */
            formatTime(timestamp) {
                return moment(timestamp).format('MMMM Do YYYY, h:mm');
            },
            /**
             * Approve selected request.
             *
             * @param requestId
             * @param index
             */
            approve(requestId, index) {
                this.requests[index].status = '...............';

                axios.get(`/admin/approve-request/${requestId}`)
                    .then(result => {
                        this.requests[index].status = result.data.status;
                });
            },
            /**
             * Reject selected request.
             *
             * @param requestId
             * @param index
             */
            reject(requestId, index) {
                this.requests[index].status = '...............';

                axios.get(`/admin/reject-request/${requestId}`)
                    .then(result => {
                        this.requests[index].status = result.data.status;
                    });
            },
            /**
             * Apply corresponding text color due to status.
             *
             * @param stasus
             * @returns {string}
             */
            addStatusColor(stasus) {
                switch (stasus) {
                    case 'PENDING':
                        return 'text-primary';
                    case 'APPROVED':
                        return 'text-success';
                    case 'REJECTED':
                        return 'text-danger';
                    case 'CANCELLED':
                        return 'text-warning';
                }
            }
        },
        beforeMount() {
            this.getOfficesList();
            this.getRequests();
        }
    }
</script>