<template>
    <div class="container mt-5">
        <h5>If you need to work from home, please fill out the form below.</h5>
        <h5>Your request will be submitted to the system for approval.</h5>
        <p>The requests are to be made according to such rules:</p>
        <ul>
            <li>The request for tomorrow shall be made before 4 PM of current working day.</li>
            <li>If you are feeling sick, make it please before 8 AM of current working day.</li>
        </ul>

        <button type="button" class="btn btn-outline-dark"
                v-if="!showForm"
                @click.prevent="showForm = true">
            Create new request
        </button>

        <div class="row" v-else>
            <transition name="fade">
                <div class="col-3">
                    <div class="card text-center">
                    <div class="card-header">
                        <strong>Step 1</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Office Location</h5>
                        <p class="card-text">Choose your office location from the list.</p>
                        <div class="form-group">
                            <select class="form-control"
                                    name="office"
                                    v-model="requestData.officeId">
                                <option disabled value="">Select city...</option>
                                <option :value="office.id" v-for="office in offices">
                                    {{ office.city }}
                                </option>
                            </select>
                        </div>

                        <button type="button"
                                class="btn btn-outline-info"
                                @click.prevent="steps.step2 = true">
                            Next
                        </button>
                    </div>
                </div>
                </div>
            </transition>
            <transition name="fade">
                <div class="col-3" v-if="steps.step2">
                <div class="card text-center">
                    <div class="card-header">
                        <strong>Step 2</strong>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Feeling Good?</h5>
                        <p class="card-text">Are you a bit under the weather today?</p>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="isSick"
                                       id="healthy"
                                       value="0"
                                       v-model="requestData.isSick">
                                <label class="form-check-label" for="healthy">
                                    I'm quite good.
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="isSick"
                                       id="sick"
                                       value="1"
                                       v-model="requestData.isSick">
                                <label class="form-check-label" for="sick">
                                    I'm feeling ill.
                                </label>
                            </div>
                        </div>

                        <button type="button"
                                class="btn btn-outline-info"
                                @click.prevent="steps.step3 = true">
                            Next
                        </button>
                    </div>
                </div>
            </div>
            </transition>
            <transition name="fade">
                <div class="col-3" v-if="steps.step3">
                <div class="card text-center">
                    <div class="card-header">
                        <strong>Step 3</strong>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Time From</h5>
                        <p class="card-text">Choose when you want to start working:</p>

                        <div class="form-group">
                            <vue-flatpickr :value="minFromTime"
                                           v-model="requestData.timeFrom"
                                           :config="{
                                               enableTime: true,
                                               dateFormat: 'Y-m-d H:i',
                                               altInput: true,
                                               altFormat: 'M j, Y H:i',
                                               minDate: minFromTime,
                                               time_24hr: true
                                           }">
                            </vue-flatpickr>
                        </div>

                        <button type="button"
                                class="btn btn-outline-info"
                                :disabled = "!requestData.timeFrom"
                                @click.prevent="steps.step4 = true">
                            Next
                        </button>
                    </div>
                </div>
            </div>
            </transition>
            <transition name="fade">
                <div class="col-3" v-if="steps.step4">
                <div class="card text-center">
                    <div class="card-header">
                        <strong>Step 4</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Time To</h5>
                        <p class="card-text">When are you going to finish your work:</p>

                        <div class="form-group">
                            <vue-flatpickr :value="minToTime"
                                           v-model="requestData.timeTo"
                                           :config="{
                                               enableTime: true,
                                               dateFormat: 'Y-m-d H:i',
                                               altInput: true,
                                               altFormat: 'M j, Y H:i',
                                               minDate: minToTime,
                                               time_24hr: true
                                           }">
                            </vue-flatpickr>
                        </div>

                        <button type="button"
                                class="btn btn-outline-success"
                                :disabled="!requestData.timeTo"
                                @click.prevent="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            </transition>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                offices: [],
                requestData: {
                    officeId: '',
                    isSick: 0,
                    timeFrom: '',
                    timeTo: ''
                },
                steps: {
                    step1: true,
                    step2: false,
                    step3: false,
                    step4: false
                },
                dateFormat: 'YYYY-MM-DD HH:MM',
                showForm: false
            }
        },
        methods: {
            /**
             * Get list of all offices' locations.
             */
            getOfficesList() {
                axios.get('/get-offices-list')
                    .then(result => {
                        this.offices = result.data.offices;
                    });
            },
            /**
             * Submit request data to server.
             */
            submit() {
                axios.post('/save-request', this.requestData)
                    .then(result => {
                        this.resetForm();
                        this.showForm = false;
                    });
            },
            /**
             * Clear all form values.
             */
            resetForm() {
                this.requestData.officeId = '';
                this.requestData.isSick = 0;
                this.requestData.timeFrom = '';
                this.requestData.timeTo = '';
                this.steps.step2 = false;
                this.steps.step3 = false;
                this.steps.step4 = false;
            }
        },
        computed: {
            /**
             * Set start value for 'date from' in datepicker.
             *
             * @returns {*}
             */
            minFromTime() {
                let currentTime, timeDeadline;
                    currentTime = moment.now();

                if (!this.requestData.isSick) {
                    timeDeadline = moment(currentTime).set({'hour': 15, 'minute': 59});

                    if(moment(currentTime).isBefore(timeDeadline)) {
                        return moment(currentTime).add(1, 'days')
                            .startOf('day').format(this.dateFormat);
                    }

                    return moment(currentTime).add(2, 'days')
                        .startOf('day').format(this.dateFormat);

                } else if (this.requestData.isSick) {
                    timeDeadline = moment(currentTime).set({'hour': 7, 'minute': 59});

                    if(moment(currentTime).isBefore(timeDeadline)) {
                        return moment(currentTime).format(this.dateFormat);
                    }

                    return moment(currentTime).add(1, 'days')
                        .startOf('day').format(this.dateFormat);
                }
            },
            /**
             * Set start value for 'date to' in datepicker.
             *
             * @returns {*}
             */
            minToTime() {
                return moment(this.requestData.timeFrom, this.dateFormat)
                    .add(1, 'hours').format(this.dateFormat);
            }
        },
        beforeMount() {
            this.getOfficesList();
        }
    }
</script>