<template>
    <div class="container mt-5">
        <h5>Management of users assigned licenses.</h5>

        <div v-if="processing" class="alert alert-primary" role="alert">
            <h4 class="text-center">data processing...</h4>
        </div>

        <template v-else>
            <table class="table table-striped">
                <thead>
                <tr class="text-center">
                    <th scope="col">id</th>
                    <th scope="col">email</th>
                    <th scope="col" v-for="(license, index) in licenseTypes">{{ license }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user, index) in userData">
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.email }}</td>
                    <td v-for="(license, index) in user.licenses" class="center-content">
                        <div class="form-check form-check-inline">
                            <input v-model="license.isAssigned"
                                   class="form-check-input"
                                   type="checkbox"
                                   :name="license.type">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <button type="button"
                    class="btn btn-primary pull-right"
                    @click="updateUsers">
                Update
            </button>
        </template>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                userData: {
                    id: '',
                    email: '',
                    licenses: {
                        id: '',
                        type: '',
                        isAssigned: ''
                    }
                },
                licenseTypes: [],
                processing: false
            }
        },
        methods: {
            /**
             * Recieve users data with assigned licenses.
             */
            getUserData() {
                this.processing = true;

                axios.get('/admin/get-users-licenses')
                    .then(result => {
                        this.processing = false;
                        this.userData = result.data.users;
                        this.licenseTypes = result.data.licenseTypes;
                    });
            },
            /**
             * Update users licenses in db changed by admin.
             */
            updateUsers() {
                this.processing = true;

                axios.post('/admin/update-users-licenses', { updatedUsers: this.userData })
                    .then(() => this.getUserData());
            }
        },
        beforeMount() {
            this.getUserData();
        }
    }
</script>