<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <transition name="fade">
                    <table class="table table-striped">
                        <thead>
                        <tr class="text-center">
                            <th scope="col">Office Location</th>
                            <th scope="col">Time From</th>
                            <th scope="col">Time To</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(request, index) in requests">
                            <td>{{ request.office.city }}</td>
                            <td class="text-center">{{ formatTime(request.date_from) }}</td>
                            <td class="text-center">{{ formatTime(request.date_to) }}</td>
                            <td class="text-center">{{ formatTime(request.created_at) }}</td>
                            <td class="text-center" :class="addStatusColor(request.status)">{{ request.status }}</td>
                            <td class="text-center">
                                <i class="fas fa-ban fa-lg" aria-hidden="true"
                                   @click="cancel(request.id, index)"></i>
                            </td>
                        </tr>
                        <tr v-if="this.requests.length === 0">
                            <td colspan="6" class="text-center">No results.</td>
                        </tr>
                        </tbody>
                    </table>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                requests: [],
            }
        },
        methods: {
            /**
             * Get users requests.
             */
            getRequests() {
                axios.get('/get-requests')
                    .then(result => {
                        this.requests = result.data.requests;
                    })
            },
            /**
             * Cancel selected request.
             */
            cancel($requestId, index) {
                this.requests[index].status = '...........';

                axios.get(`/cancel-request/${$requestId}`)
                    .then(() => this.getRequests());
            },
            /**
             * Apply corresponding text color due to status.
             *
             * @param stasus
             * @returns {string}
             */
            addStatusColor(stasus) {
                switch (stasus) {
                    case 'PENDING':
                        return 'text-primary';
                    case 'APPROVED':
                        return 'text-success';
                    case 'REJECTED':
                        return 'text-danger';
                    case 'CANCELLED':
                        return 'text-warning';
                }
            },
            /**
             * Create humanreadable timestamp.
             *
             * @param timestamp
             * @returns {*}
             */
            formatTime(timestamp) {
                return moment(timestamp).format('MMMM Do YYYY, h:mm');
            },
        },
        beforeMount() {
            this.getRequests();
        }
    }
</script>